<!-- Call to actions -->
{{ with site.GetPage "sections/call-to-action" }}
{{ if .Params.enable }}
<section class="section-sm bg-primary">
  <div class="container">
    <div class="w-7/12 mx-auto text-center">
      <h2 class="mb-6 text-white text-h1">{{ .Params.title | markdownify }}</h2>
      <p class="text-white mb-10">{{ .Params.description | markdownify }}</p>
      <div>
        {{ if .Params.button.enable }}
        <a href="{{ .Params.button.url }}" class="btn bg-white text-primary">{{ .Params.button.label }}</a>
        {{ end }}
      </div>
    </div>
  </div>
</section>
{{ end }}
{{ end }}
<!-- /Call to actions -->