@utility bg-gradient {
  @apply bg-linear-to-b from-[rgba(249,249,249,1)] from-[0.53%] to-white to-[83.28%];
}

/* form style */
@utility form-input {
  @apply w-full rounded border-transparent bg-light px-6 py-4 text-text-dark placeholder:text-text-light focus:border-primary  focus:ring-transparent;
}

@utility form-label {
  @apply mb-4 block font-secondary text-xl font-normal text-text-dark;
}
