{{ define "main" }}

{{ "<!-- Hero Section -->" | safeHTML }}
{{ if .Params.banner.enable }}
{{ with .Params.banner }}
<section class="section gradient-banner">
  {{ if .background_shapes }}
  <div class="shapes-container">
    <div class="shape" data-aos="fade-down-left" data-aos-duration="1500" data-aos-delay="100"></div>
    <div class="shape" data-aos="fade-down" data-aos-duration="1000" data-aos-delay="100"></div>
    <div class="shape" data-aos="fade-up-right" data-aos-duration="1000" data-aos-delay="200"></div>
    <div class="shape" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="200"></div>
    <div class="shape" data-aos="fade-down-left" data-aos-duration="1000" data-aos-delay="100"></div>
    <div class="shape" data-aos="fade-down-left" data-aos-duration="1000" data-aos-delay="100"></div>
    <div class="shape" data-aos="zoom-in" data-aos-duration="1000" data-aos-delay="300"></div>
    <div class="shape" data-aos="fade-down-right" data-aos-duration="500" data-aos-delay="200"></div>
    <div class="shape" data-aos="fade-down-right" data-aos-duration="500" data-aos-delay="100"></div>
    <div class="shape" data-aos="zoom-out" data-aos-duration="2000" data-aos-delay="500"></div>
    <div class="shape" data-aos="fade-up-right" data-aos-duration="500" data-aos-delay="200"></div>
    <div class="shape" data-aos="fade-down-left" data-aos-duration="500" data-aos-delay="100"></div>
    <div class="shape" data-aos="fade-up" data-aos-duration="500" data-aos-delay="0"></div>
    <div class="shape" data-aos="fade-down" data-aos-duration="500" data-aos-delay="0"></div>
    <div class="shape" data-aos="fade-up-right" data-aos-duration="500" data-aos-delay="100"></div>
    <div class="shape" data-aos="fade-down-left" data-aos-duration="500" data-aos-delay="0"></div>
  </div>
  {{ end }}

  <div class="container">
    <div class="row gy-5 items-center">
      <div class="md:col-6 lg:col-7 order-2 md:order-1 text-center md:text-start">
        <h1 class="text-white font-bold mb-4 lg:text-[80px]">{{ .title | safeHTML | markdownify }}</h1>
        <p class="text-white mb-10 text-lg font-medium">{{ .content | safeHTML | markdownify }}</p>
        {{ with .button }}
        <a href="{{ .link | absLangURL }}" class="btn btn-primary btn-lg">{{ .label }}</a>
        {{ end }}
      </div>
      <div class="md:col-6 lg:col-5 order-1 md:order-2 flex justify-center relative" >
        {{ partial "image.html" (dict "Src" .image "Alt" "banner-image" "Class" "w-[250px] md:w-[330px]" "Size" "330x")
        }}
        <div class="hidden sm:block absolute bottom-30 right-20 md:right-12 z-10 bg-[#155063] rounded-2xl w-[100px] h-[90px]">
          <img src="/images/sale.gif" alt="gif" class="w-full">
        </div>
        <div
          class="hidden sm:flex absolute top-30 left-24  md:left-16 z-10 bg-[#155063] rounded-full w-[78px] h-[78px] items-center justify-center">
          <img src="/images/document.png" alt="document" class="w-[35px]">
        </div>
      </div>
    </div>
  </div>
</section>
{{ end }}
{{ end }}
{{ "<!-- End of Hero Section -->" | safeHTML }}


<!-- Features -->
{{ with .Params.features }}
{{ if .enable }}
<section class="section">
  <div class="container">
    <div class="section-header">
      <h2 class="section-title" >{{ .title | markdownify }}</h2>
      <p class="section-description">
        {{ .description | markdownify }}
      </p>
      {{ if .button.enable }}
      <a href="{{ .button.link | absLangURL }}" class="btn btn-primary">{{ .button.label }}</a>
      {{ end }}
    </div>

    <div class="row">
      <div class="lg:col-7 order-2 lg:order-1">
        <div class="row items-center">
          {{ range $i, $e:= .features_list }}
          <div class="md:col-6 mb-8 order">
            <div class="bg-primary/10 py-9 px-6 rounded-xl h-full" data-aos="fade-up" data-aos-duration="{{ add (mul 200 (add $i 1)) 100 }}">
              <div class="icon">
                {{ partial "image" (dict "Src" .icon "Size" "50x50" "Class" "w-[35px] mb-6" "Alt" .title) }}
              </div>
              <h3 class="text-xl font-semibold mb-2">{{ .title }}</h3>
              <p class="text-text-dark/70">{{ .content | markdownify }}</p>
            </div>
          </div>
          {{ end }}
        </div>
      </div>
      <div class="lg:col-5 flex items-center justify-center order-1 lg:order-2">
        <div class="w-full" data-aos="fade-up">
          {{ partial "image" (dict "Src" .image "Alt" "feature-image" "Class" "w-full rounded-lg") }}
        </div>
      </div>
    </div>
  </div>
</section>
{{ end }}
{{ end }}
<!-- /Features -->


<!-- Easy to use -->
{{ with .Params.easy_to_use }}
{{ if .enable }}
<section class="section bg-light">
  <div class="container">
    <div class="section-header">
      <h2 class="section-title">{{ .title | markdownify }}</h2>
    </div>
    {{ range $i, $e:= .list }}
    <div class="row mb-8 ">
      <div class="lg:col-7 {{ if not (modBool $i 2) }}
              lg:order-2
            {{ end }} ">
      <div class="w-full" {{ if not (modBool $i 2) }} data-aos="fade-left" {{else}} data-aos="fade-right" {{end}}>
        {{ partial "image" (dict "Src" .image "Alt" .title "Class" "w-full") }}
      </div>
      </div>
      <div class="lg:col-5 {{ if not (modBool $i 2) }}
              lg:order-1
            {{ end }} flex flex-col justify-center">
        <h3 class="font-semibold mb-6 text-h2 ">{{ .title }}</h3>
        <div class="content">{{ .content | markdownify }}</div>
      </div>
    </div>
    {{ end }}

  </div>
</section>
{{ end }}
{{ end }}
<!-- /Easy to use -->

<!-- All Main Features -->
{{ with .Params.all_features }}
{{ if .enable }}
<section class="section">
  <div class="container">
    <div class="section-header">
      <h2 class="section-title">{{ .title | markdownify }}</h2>
      <p class="section-description">
        {{ .description | markdownify }}
      </p>
    </div>
    <div class="row">
      {{ range $i, $e:= .list }}
      <div class="md:col-6 lg:col-4 xl:col-3 mb-8" data-aos="fade-up" data-aos-duration="{{ add (mul 200 (add $i 1)) 100 }}">
        <div class="bg-white h-full shadow-[0px_4px_40px_10px_rgba(0,0,0,0.05)] py-10 px-6 rounded-xl flex flex-col items-center text-center">
          <div class="bg-primary/10 rounded-lg p-4 mb-6">
            {{ partial "image" (dict "Src" .icon "Size" "50x50" "Class" "w-[35px]" "Alt" .title) }}
          </div>
          <h3 class="text-xl font-semibold mb-4">{{ .title }}</h3>
          <p class="text-text-dark/70">{{ .content | markdownify }}</p>
        </div>
      </div>
      {{ end }}
    </div>
  </div>
</section>
{{ end }}
{{ end }}
<!-- /All Main Features -->




<!-- Testimonials -->
{{ with site.GetPage "sections/testimonial" }}
{{ if .Params.enable }}
<section class="section bg-light">
  <div class="container">
    <div class="section-header">
      <h2 class="section-title">{{ .Title | markdownify }}</h2>
      <p class="section-description">
        {{ .Params.description | markdownify }}
      </p>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="swiper testimonial-slider">
          <div class="swiper-wrapper">
            {{ range .Params.testimonials }}
            <div class="swiper-slide h-full">
              <div class="bg-white shadow-[0px_4px_40px_10px_rgba(0,0,0,0.05)] rounded-lg p-7 ">
                
              <div class="row gap-y-5">
                <div class="sm:col-4">
                  <div class="flex items-center sm:block">
                   
                      {{ partial "image" (dict "Src" .avatar  "Class" "rounded-lg sm:w-[90%]! w-[130px]! h-[130px]! sm:h-[160px]! object-cover mr-5 sm:mr-0" "Alt" .name) }}
                    
                    <div class="text-center mt-6">
                      <h3 class="h6 font-primary font-semibold mb-2">
                        {{ .name }}
                      </h3>
                      <p class="text-text-dark text-sm">
                        {{ .role | markdownify }}, {{ .company | markdownify }}
                      </p>
                    </div>
                  </div>
                </div>
                <div class="sm:col-8">
                  <blockquote>
                    {{ .quote | markdownify }}
                  </blockquote>

                  <div class="mt-6">
                    <a class="text-primary" href="{{.company_url}}" target="_blank"> {{.company_url}}</a>
                  </div>
                </div>
              </div>
               
              </div>
            </div>
            {{ end }}
          </div>
          <div class="testimonial-slider-pagination mt-9 flex items-center justify-center text-center"></div>
        </div>
      </div>
    </div>
  </div>
</section>
{{ end }}
{{ end }}
<!-- /Testimonials -->
{{ end }}